services:
  paperless-redis:
    container_name: paperless_redis
    image: docker.io/library/redis:7
    restart: unless-stopped
    volumes:
      - ${DOCKER_SERVICES_CONFIG_LOCATION}/paperless/redis:/data
    profiles:
      - paperless

  paperless-web:
    container_name: paperless_web
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - paperless-redis
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ${DOCKER_SERVICES_CONFIG_LOCATION}/paperless/data:/usr/src/paperless/data
      - ${DOCKER_SERVICES_CONFIG_LOCATION}/paperless/media:/usr/src/paperless/media
      - ${DOCKER_SERVICES_CONFIG_LOCATION}/paperless/export:/usr/src/paperless/export
      - ${DOCKER_SERVICES_CONFIG_LOCATION}/paperless/consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://paperless-redis:6379
      PAPERLESS_URL: https://paperless.${URL}
      PAPERLESS_TIMEZONE: Pacific/Auckland
      PAPERLESS_SECRET_KEY: ${PAPERLESS_SECRET_KEY}
      PAPERLESS_ENABLE_ALLAUTH: true
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_AUTO_LOGIN: true
      PAPERLESS_AUTO_CREATE: true
      PAPERLESS_SOCIAL_AUTO_SIGNUP: true
      PAPERLESS_REDIRECT_LOGIN_TO_SSO: true
      PAPERLESS_LOGOUT_REDIRECT_URL: ${POCKET_ID_URL}/api/oidc/end-session
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: ${PAPERLESS_SOCIALACCOUNT_PROVIDERS}
      # Set me to false to disable SSO login and fallback to saved password in Bitwarden
      PAPERLESS_DISABLE_REGULAR_LOGIN: true
    labels:
      - traefik.http.routers.paperless.rule=Host(`paperless.${URL}`)
      - traefik.http.services.paperless.loadbalancer.server.port=8000
      - svc.stack=paperless
    profiles:
      - paperless